<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Music Record Company - Cook Beats, Make Music, Live Music">
        <meta name="author" content="kunsam002">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/fav.png">
    <title>Singa Empire Admin</title>
    {% assets "admin-error-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" type="text/css"/>
    {% endassets %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div class="error-page" id="wrapper">
        <div class="error-box">
            {% block body %}
            {% endblock body %}
            <footer class="footer text-center">
                Copyright © {{ today.strftime("%Y") }} <a target="_blank" class="text-themecolor" href="http://singaempire.com">Singa Empire</a>, Developed by <a href="javascript:void(0)" class="text-themecolor">Kunsam002</a>. All Rights
                                        Reserved
            </footer>
        </div>
    </div>
    <!-- End Wrapper -->
    {% assets "admin-error-js" %}
        <script src="{{ ASSET_URL }}" type="text/javascript"></script>
    {% endassets %}
<script>

</body>

</html>