{% extends "admin/errors/layout.html" %}
{% block body %}
            <div class="error-body text-center">
                <h1>503</h1>
                <h3 class="text-uppercase">This site is getting up in few minutes. </h3>
                <p class="text-muted m-t-30 m-b-30">Please try after some time</p>
                <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" href="{{ url_for('control.index') }}">Back
                    to home</a>
            </div>
{% endblock body %}
