{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{% if obj %}Update Gallery{% else %}Create Gallery{% endif %}</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('.gallery') }}">Gallery</a></li>
                <li class="breadcrumb-item active">{% if obj %}Update Gallery{% else %}Create Gallery{% endif %}</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger text-themecolor">
                                        {{ message }}
                                    </div>
                                {% endfor %}
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">

                    <div class="card-body">
                        <form action="{{ request.path }}" method="post" name="form" role="form" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <div class="form-body">

{#                                <h3 class="card-title m-t-15">Person Info</h3>#}

                                <hr>
                                <div class="col-md-12">
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Name</label>
                                                {{ form.name(class="form-control") }}

                                                {% if form.name.errors %}
                                                    {% for e in form.name.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Content Type</label>
                                                {{ form.content_type_code(class="form-control") }}
                                                {% if form.content_type_code.errors %}
                                                    {% for e in form.content_type_code.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                    <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Post On Gallery</label>
                                                {{ form.is_gallery(class="form-control") }}
                                                {% if form.is_gallery.errors %}
                                                    {% for e in form.is_gallery.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6" id="videoDiv">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Video</label>
                                                {{ form.video(class="form-control rich-text") }}
                                                {% if form.video.errors %}
                                                    {% for e in form.video.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                    <div class="col-md-6" id="imageDiv">
                                            <div class="form-group {% if img_errors %} has-error {% endif %}">
                                                <span class="caption"><strong>NOTE: </strong>Maximum size per upload is <strong>15MB</strong></span><br>
                                                <span class="btn btn-file">
                                                    <span>Add Images</span>
                                                    <input type="file" class="img-upload" id="images" name="images"
                                                           multiple="multiple" target="#img-preview">
                                                  </span>
                                                <p><span>We recommend all your images should be the same dimensions (a square). Suggested dimensions should be at least <strong>200x200</strong>px.</span>
                                                </p>
                                                {% if img_errors %}
                                                    <span class="help-block">{{ img_errors }}</span>
                                                {% endif %}
                                            </div>
                                        </div>

                                    <div class="clearfix"></div>
                                    </div>
                                    <!--/row-->
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                                </button>
                                <a href="{{ url_for('.gallery') }}" class="btn btn-inverse">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block page_js %}
    <script>
    $('#imageDiv').hide();
    $('#videoDiv').hide();
    $('#content_type_code').change(function() {
					var type_code = this.value;
					if(type_code=="image"){
                        $('#videoDiv').hide();
						$('#imageDiv').show();
					}else if(type_code=="video"){
					    $('#imageDiv').hide();
						$('#videoDiv').show();

					}
				});
    </script>
{% endblock page_js %}