{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">{% if obj %}Update Song{% else %}Create Song{% endif %}</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ url_for('.songs') }}">Songs</a></li>
                <li class="breadcrumb-item active">{% if obj %}Update Song{% else %}Create Song{% endif %}</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-danger text-themecolor">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline-primary">

                    <div class="card-body">
                        <form action="{{ request.path }}" method="post" name="form" role="form"
                              enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <div class="form-body">

                                {#                                <h3 class="card-title m-t-15">Person Info</h3>#}

                                <hr>
                                <div class="col-md-12">
                                    <div class="row p-t-20">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Title</label>
                                                {{ form.title(class="form-control") }}

                                                {% if form.title.errors %}
                                                    {% for e in form.title.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Artist</label>
                                                {{ form.artist_id(class="form-control") }}
                                                {% if form.artist_id.errors %}
                                                    {% for e in form.artist_id.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Genre</label>
                                                {{ form.genre_code(class="form-control") }}

                                                {% if form.genre_code.errors %}
                                                    {% for e in form.genre_code.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Album</label>
                                                {{ form.album_id(class="form-control") }}
                                                {% if form.album_id.errors %}
                                                    {% for e in form.album_id.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                         <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Release Date</label>
                                                {#                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">#}
                                                {{ form.release_date(class="form-control", type="date") }}
                                                {% if form.release_date.errors %}
                                                    {% for e in form.release_date.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-6">
                                            <div class="form-group {% if img_errors %} has-error {% endif %}">
                                                <span class="caption"><strong>NOTE: </strong>Maximum size per upload is <strong>15MB</strong></span><br>
                                                <span class="btn btn-file">
                                                    <span>Add Images</span>
                                                    <input type="file" class="img-upload" id="images" name="images"
                                                           multiple="multiple" target="#img-preview">
                                                  </span>
                                                <p><span>We recommend all your images should be the same dimensions (a square). Suggested dimensions should be at least <strong>200x200</strong>px.</span>
                                                </p>
                                                {% if img_errors %}
                                                    <span class="help-block">{{ img_errors }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group has-danger">
                                                <label class="control-label">Track Url</label>
                                                {{ form.track_url(class="form-control") }}
                                                {% if form.track_url.errors %}
                                                    {% for e in form.track_url.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <!--/row-->
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn btn-themecolor"><i class="fa fa-check"></i> Save
                                </button>
                                <a href="{{ url_for('.songs') }}" class="btn btn-inverse">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}