{% extends "admin/layout.html" %}
{% block body %}
    <!-- Bread crumb -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor">Genres</h3></div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ url_for('.index') }}">Home</a></li>
                <li class="breadcrumb-item active">Genres</li>
            </ol>
        </div>
    </div>
    <!-- End Bread crumb -->
    {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger text-themecolor">
                                        {{ message }}
                                    </div>
                                {% endfor %}
    <!-- Container fluid  -->
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="btn-group pull-right">
                    <a href="{{ url_for('.create_genre') }}" class="btn btn-themecolor">Create Genre</a>
                </div>
                <div class="clearfix"></div>
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Date Created</th>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Slug</th>
                                    <th>Total Songs</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if results.items %}
                                    {% for obj in results.items %}
                                        <tr>
                                            <td>{{ obj.date_created.strftime("%d-%m-%Y | %H:%M") }}</td>
                                            <td>{{ obj.name }}</td>
                                            <td>{{ obj.code }}</td>
                                            <td>{{ obj.slug }}</td>
                                            <td>{{ obj.total_songs }}</td>
                                            <td><a href="{{ url_for('.update_genre',code=obj.code) }}">Update</a></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
    <!-- End Container fluid  -->
{% endblock body %}