.thumb {
	height: 80px;
	display: inline-block;
	border: 1px solid #f8f8f8;
	margin-left: 10px;
	background: #f8f8f8;
	padding: 5px;
	text-align: center;
	position: relative;
	min-width: 40px;
}

.thumb.clickable:hover {
	cursor: pointer !important;
}

.thumb .checker {
	position: absolute;
	top: 0px;
	left: 0px;
}

.thumb img {
	display: block;
	height: 100%;
	width: auto;
	vertical-align: center;
}

.img-preview .thumb:first-child {
	display: block;
	height: auto;
	margin-bottom: 10px;
	vertical-align: center;
}

.img-preview .thumb:first-child img {
	margin: auto auto;
	height: auto;
	max-width: 100%;
}
footer{
	position: fixed !important;
    bottom: 0;
    margin-bottom: 0;
}