{% extends "public/layout.html" %}
{% block body %}
			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container light-gray-bg lgrad">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">2face Idibia</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/2face.jpg" alt="">
											<a href="images/2face.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">2face Idibia</h3>
													<p class="margin-clear">Singer</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									<p>Innocent Ujah Idibia (born in Jos, Plateau State, Nigeria), better known by his stage name 2face Idibia, or 2Baba, is a Nigerian singer-songwriter, record producer and entrepreneur.</p>
									<p>
										He officially discontinued the use of the name Tuface and selected 2baba or Tu-baba as his stage name.[1] He is one of the most decorated and successful Afro pop artists in Africa. He is also one of the most bankable artists in Africa.
									</p>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">2FACE IDIBIA</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">May 2015</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">Singer</span></li>
											<li><strong>Country: </strong> <span class="text-right">Nigeria</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="#">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
										</ul>
									<h3>Check Out My Works</h3>
									<a class="btn btn-default collapsed btn-animated" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent">Show <i class="fa fa-plus"></i></a>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->
    			<!-- section start -->
			<!-- ================ -->
			<section id="collapseContent" class="collapse pv-20 light-gray-bg clearfix">
				<div class="container">
					<h3>Latest <strong>Projects</strong></h3>
					<div class="separator-2 mb-20"></div>
					<div class="image-box style-3-b">
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="overlay-container">
									<img src="images/portfolio-1.jpg" alt="">
									<div class="overlay-to-top">
										<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-9">
								<div class="body">
									<h3 class="title">Project Title</h3>
									<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>
									<div class="separator-2"></div>
									<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
									<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="image-box style-3-b">
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="overlay-container">
									<img src="images/portfolio-2.jpg" alt="">
									<div class="overlay-to-top">
										<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-9">
								<div class="body">
									<h3 class="title">Project Title</h3>
									<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>
									<div class="separator-2"></div>
									<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
									<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="image-box style-3-b">
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="overlay-container">
									<img src="images/portfolio-3.jpg" alt="">
									<div class="overlay-to-top">
										<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-9">
								<div class="body">
									<h3 class="title">Project Title</h3>
									<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>
									<div class="separator-2"></div>
									<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>
									<a href="#" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
								</div>
							</div>
						</div>
					</div>
					<nav>
						<ul class="pagination">
							<li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
							<li class="active"><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</nav>

				</div>
			</section>
			<!-- section end -->


{% endblock body %}