{% extends "public/layout.html" %}
{% block body %}

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container border-clear padding-bottom-clear light-gray-bg lgrad">
				<!-- section start -->
				<!-- ================ -->
					<div class="container">
						<h3><strong>Albums</strong></h3>
						<div class="separator-2 mb-20"></div>
						<div class="image-box style-3-b">
{#                            <div class="row">#}
{#								<div class="col-sm-6 col-md-3">#}
{#									<div class="overlay-container">#}
{#										<img src="/static/images/Sean-Tizzle-The-Journey-album-cover-Art.jpg" alt="">#}
{#										<div class="overlay-to-top">#}
{#											<p class="small margin-clear"><em>Some info <br> Lorem ipsum dolor sit</em></p>#}
{#										</div>#}
{#									</div>#}
{#								</div>#}
{#								<div class="col-sm-6 col-md-9">#}
{#									<div class="body">#}
{#										<h3 class="title"><a href="{{url_for('.album_info')}}">Sean-Tizzle</a></h3>#}
{#										<p class="small mb-10"><i class="icon-calendar"></i> Feb, 2015 <i class="pl-10 icon-tag-1"></i> Web Design</p>#}
{#										<div class="separator-2"></div>#}
{#										<p class="mb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque ipsam nihialal. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam laudantium, provident culpa saepe.</p>#}
{#										<a href="{{url_for('.album_info')}}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
                        {% if results.items %}
                            {% for obj in results.items %}
							<div class="row">
								<div class="col-sm-6 col-md-3">
									<div class="overlay-container">
										<img src="{{ obj.cover_image_url }}" alt="">
										<div class="overlay-to-top">
											<p class="small margin-clear"><em>{{ obj.artist.name }} <br> Singa Empire Records</em></p>
										</div>
									</div>
								</div>
								<div class="col-sm-6 col-md-9">
									<div class="body">
										<h3 class="title"><a href="{{url_for('.album_info',id=obj.id)}}">{{ obj.name }}</a></h3>
										<p class="small mb-10"><i class="icon-calendar"></i> {{ obj.date_created.strftime("%B, %Y") }} <i class="pl-10 fa fa-user-secret"></i> {{ obj.artist.name }}</p>
										<div class="separator-2"></div>
										<p class="mb-10">{{ obj.description|safe }}</p>
										<a href="{{url_for('.album_info',id=obj.id)}}" class="btn btn-default btn-sm btn-hvr hvr-shutter-out-horizontal margin-clear">More<i class="fa fa-arrow-right pl-10"></i></a>
									</div>
								</div>
							</div>
                            {% endfor %}
                        {% endif %}
						</div>
					</div>
				<!-- section end -->
			</section>
			<!-- main-container end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="section dark-bg pv-40 clearfix">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8 col-sm-offset-2">
										<h3 class="title"><strong>Subscribe</strong> To Our Newsletter</h3>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus error pariatur deserunt laudantium nam, mollitia quas nihil inventore, quibusdam?</p>
										<div class="separator"></div>
										<form class="form-inline margin-clear">
											<div class="form-group has-feedback">
												<label class="sr-only" for="subscribe3">Email address</label>
												<input type="email" class="form-control" id="subscribe3" placeholder="Enter email" name="subscribe3" required="">
												<i class="fa fa-envelope form-control-feedback"></i>
											</div>
											<button type="submit" class="btn btn-gray-transparent btn-animated margin-clear">Submit <i class="fa fa-send"></i></button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->


{% endblock body %}
{% block footer %}
{% endblock footer %}