{% extends "public/layout.html" %}
{% block body %}
    			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container border-clear light-gray-bg lgrad padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12 mb-20">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title text-center">"{{ obj.artist.name }}"</h1>
							<!-- page-title end -->

							<div class="image-box space-top style-4">
								<div class="row grid-space-0">
									<div class="col-md-6">
										<div class="overlay-container" style="width: 36em;height: 20em;">
											<img src="{{ obj.cover_image_url }}" alt="">
{#											<iframe width="100%" height="100%" src="{{ obj.cover_image_url }}" frameborder="0" allowfullscreen></iframe>#}
										</div>
									</div>
									<div class="col-md-6">
										<div class="body">
											<div class="pv-30 visible-lg"></div>
											<h3>{{ obj.name }}</h3>
											<div class="separator-2"></div>
											<p class="margin-clear">{{ obj.description|safe }}</p>
										</div>
									</div>
								</div>
							</div><br><br>

							<div class="container mb-20">
								<div>
									<div class="title">Tracks</div>
									<div id="albumPlayer" class="aplayer"></div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->


{% endblock body %}
{% block footer %}
{% endblock footer %}
{% block page_js %}
            <script type="text/javascript" src="/static/js/APlayer.min.js"></script>
    <script>
        var ap4 = new APlayer({
		    element: document.getElementById('albumPlayer'),
		    narrow: false,
		    autoplay: false,
		    showlrc: false,
		    mutex: true,
		    theme: '#ad7a86',
		    mode: 'random',
		    music: [
                {% for song in songs %}
		        {
		            title: '{{ song.title }}',
		            author: '{{ song.artist.name }}',
		            url: '{{ song.tracl_url }}',
		            pic: '{{ song.cover_image_url }}'
		        },
                {% endfor %}
		    ]
		});
    </script>
{% endblock page_js %}