{% extends "public/layout.html" %}
{% block body %}
    			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container light-gray-bg lgrad">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
                    {% if results.items %}
                        {% for obj in results.items %}
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
                            <h1 class="page-title"><a href="{{ url_for('.artist_info') }}">{{ obj.name }}</a></h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="{{ obj.cover_image_url }}" alt="">
											<a href="{{ obj.cover_image_url }}" class="popup-img overlay-link" title="Ceezy"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">{{ obj.name }}</h3>
													<p class="margin-clear">{{ obj.occupation }}</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									{{ obj.description|safe }}
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">{{ obj.real_name }}</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">{{ obj.dob.strftime("%B %Y") }}</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">{{ obj.occupation }}</span></li>
											<li><strong>State Of Origin: </strong> <span class="text-right">{{ obj.state.name }}</span></li>
											<li><strong>Country: </strong> <span class="text-right">{{ obj.country.name }}</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="{{ url_for('.index') }}">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
                                            {% if obj.facebook_handle %}
											<li class="facebook"><a target="_blank" href="http://www.facebook.com/{{ obj.facebook_handle }}"><i class="fa fa-facebook"></i></a></li>
											{% endif %}
                                        {% if obj.twitter_handle %}
                                            <li class="twitter"><a target="_blank" href="http://www.twitter.com/{{ obj.twitter_handle }}"><i class="fa fa-twitter"></i></a></li>
											{% endif %}
                                            {% if obj.google_handle %}
                                            <li class="googleplus"><a target="_blank" href="http://plus.google.com/{{ obj.google_handle }}"><i class="fa fa-google-plus"></i></a></li>
											{% endif %}
                                        {% if obj.linkedin_handle %}
                                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com/{{ obj.linkedin_handle }}"><i class="fa fa-linkedin"></i></a></li>
											{% endif %}
										</ul>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
                        {% endfor %}
                    {% endif %}
                        <div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
                            <h1 class="page-title"><a href="{{ url_for('.artist_info') }}">Ceezy</a></h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/2face.jpg" alt="">
											<a href="images/2face.jpg" class="popup-img overlay-link" title="Ceezy"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">Ceezy</h3>
													<p class="margin-clear">Singer</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									<p>Nwakile Chwukwuebuka (born in Lagos State, Nigeria), better known by his stage name Ceezy, is a Nigerian singer.</p>
									<p>
										He attended his Primary and Secondary schools in Lagos, and also his Tertiary Education at the NOUN. Ceezy is officially Singa Empire's music frontline artist.
									</p>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">Ceezy</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">March 1997</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">Singer</span></li>
											<li><strong>Country: </strong> <span class="text-right">Nigeria</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="#">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
										</ul>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
						<!-- main end -->

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Leomi (Leomibeatmaker)</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/Reminisce-Jahbles.jpg" alt="">
											<a href="images/2face.jpg" class="popup-img overlay-link" title="Leomi"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">Leomi</h3>
													<p class="margin-clear">Singer/Producer</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									<p>Mbamara Leonard (born in Lagos State, Nigeria), better known by his stage name Leomi, is a Nigerian Singer and Producer.</p>
									<p>
										Leomi Attended his Primary and Secondary Schools in Lagos. Started Recording and Producing at the age of 17, Doubles as an Artist and Producer with strong music feel.
									</p>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">Leomi</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">May 1996</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">Singer & Producer</span></li>
											<li><strong>Country: </strong> <span class="text-right">Nigeria</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="#">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
										</ul>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
						<!-- main end -->


						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Nonsomega</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/Falz-2.jpeg" alt="">
											<a href="images/2face.jpg" class="popup-img overlay-link" title="Nonsomega"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">Nonsomega</h3>
													<p class="margin-clear">Video Editor</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									<p>Ezeh Chukwunonso (born 17th June 1996 in Lagos State), better known by his stage name Nonsomega is a Nigerian Video Editor and Video Director.
									</p>
									<p>
										Nonsomega attended Primary and Secondary schools in Lagos, went to French school and also film school in Ouagadougou. Specialized in video directing and overall video editing. He is the visuals director at singa empire.
									</p>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">Nonsomega</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">17th June 1996</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">Video Editor</span></li>
											<li><strong>Country: </strong> <span class="text-right">Nigeria</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="#">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
										</ul>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
						<!-- main end -->

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Deejaybee</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/Reminisce-Jahbles.jpg" alt="">
											<a href="images/2face.jpg" class="popup-img overlay-link" title="Deejaybee"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">Deejaybee</h3>
													<p class="margin-clear">Sound Engineer</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									<p>Benson Victor Chukwuebuka (born in Lagos State, Nigeria), better known by his stage name Deejaybee, is a Nigerian Singer.</p>
									<p>
										Benson Victor Chukwuebuka, attended Primary and Secondary schools in Lagos and Tertiary education at Yaba College of technology Lagos. Doubles as the recording producer, sound Engineer and official DJ at singa Empire. Started playing musical Instruments at the age of 9. Music had always been an inborn talent for him.
									</p>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">Deejaybee</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">13th March 1996</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">Sound Engineer</span></li>
											<li><strong>Country: </strong> <span class="text-right">Nigeria</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="#">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
										</ul>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
						<!-- main end -->

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">

							<!-- page-title start -->
							<!-- ================ -->
							<h1 class="page-title">Teemax</h1>
							<div class="separator-2"></div>
							<!-- page-title end -->
							<div class="row">
								<div class="col-sm-4">
									<div class="image-box team-member shadow mb-20">
										<div class="overlay-container overlay-visible">
											<img src="images/Reminisce-Jahbles.jpg" alt="">
											<a href="images/2face.jpg" class="popup-img overlay-link" title="Teemax"><i class="icon-plus-1"></i></a>
											<div class="overlay-bottom">
												<div class="text">
													<h3 class="title margin-clear">Teemax</h3>
													<p class="margin-clear">Producer & Creative Director</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-4 col-sm-5">
									<p>Lamai Anthony (born in Lagos State, Nigeria), better known by his stage name Teemax, is a Nigerian Producer & Creative Director.</p>
									<p>
										Lamai Anthony, attended his Primary and Secondary Schools in Lagos. A Mathematics & Statistics Graduate of Unilag. He doubles as the resident Music Producer and Creative Director at the Label with the aim of revolutionizing the music game with his passion for music.
									</p>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="45%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Instruments</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="85%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Awards</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="95%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Fame</span>
										</div>
									</div>
									<div class="progress style-2 dark">
										<span class="text"></span>
										<div class="progress-bar progress-bar-white" role="progressbar" data-animate-width="80%">
											<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">Album</span>
										</div>
									</div>
								</div>
								<!-- sidebar start -->
							<!-- ================ -->
							<aside class="col-md-4 col-lg-3 col-lg-offset-1">
								<div class="sidebar">
									<div class="block clearfix">
										<h3 class="title">Artist Info</h3>
										<div class="separator-2"></div>
										<ul class="list margin-clear">
											<li><strong>Name: </strong> <span class="text-right">Teemax</span></li>
											<li><strong>Date of Birth: </strong> <span class="text-right">July 1992</span></li>
											<li><strong>Occupation: </strong> <span class="text-right">Producer & Creative Director</span></li>
											<li><strong>Country: </strong> <span class="text-right">Nigeria</span></li>
											<li><strong>Website: </strong> <span class="text-right"><a href="#">www.singaempire.com</a></span></li>
										</ul>
										<h3>Social Media</h3>
										<div class="separator-2"></div>
										<ul class="social-links colored circle small">
											<li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
											<li class="twitter"><a target="_blank" href="http://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
											<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
											<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
											<li class="xing"><a target="_blank" href="http://www.xing.com"><i class="fa fa-xing"></i></a></li>
										</ul>
									</div>
								</div>
							</aside>
							<!-- sidebar end -->
							</div>

						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

{% endblock body %}
{% block footer %}
{% endblock footer %}