{% extends "public/layout.html" %}
{% block body %}
			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container jumbotron light-gray-bg text-center margin-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-6 col-md-offset-3 pv-40">
							<h1 class="page-title"><span class="text-default">{{ error_number }}</span></h1>
							<h2>{{ error_title }}</h2>
							<p>{{ error_info }}</p>
							<a href="{{ url_for('.public.index') }}" class="btn btn-default btn-animated btn-lg">Return Home <i class="fa fa-home"></i></a>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

{% endblock body %}


