{% extends "public/layout.html" %}
{% block body %}
    <!-- main-container start -->
    <!-- ================ -->
    <section class="main-container padding-bottom-clear light-gray-bg lgrad">

        <div class="container">
            <div class="row">

                <!-- main start -->
                <!-- ================ -->
                <div class="main col-md-12">

                    <!-- page-title start -->
                    <!-- ================ -->
                    <h1 class="page-title">Gallery</h1>
                    <div class="separator-2"></div>
                    <!-- page-title end -->
                    <div class="row grid-space-0 clearfix">
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/2face.jpg" alt="">
                                    <a href="/static/images/2face.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">"2face"</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/album4.jpg" alt="">
                                    <a href="/static/images/album4.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Falz</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/Wizkid-2.jpg" alt="">
                                    <a href="/static/images/Wizkid-2.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Wizkid</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/IcePrince.png" alt="">
                                    <a href="/static/images/IcePrince.png" class="popup-img overlay-link"
                                       title="Jane Doe - CEO"><i class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Ice Prince</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row grid-space-0 clearfix">
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/2face.jpg" alt="">
                                    <a href="/static/images/2face.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">"2face"</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/album4.jpg" alt="">
                                    <a href="/static/images/album4.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Falz</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/Wizkid-2.jpg" alt="">
                                    <a href="/static/images/Wizkid-2.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Wizkid</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/IcePrince.png" alt="">
                                    <a href="/static/images/IcePrince.png" class="popup-img overlay-link"
                                       title="Jane Doe - CEO"><i class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Ice Prince</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row grid-space-0 clearfix">
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/2face.jpg" alt="">
                                    <a href="/static/images/2face.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">"2face"</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/album4.jpg" alt="">
                                    <a href="/static/images/album4.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Falz</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/Wizkid-2.jpg" alt="">
                                    <a href="/static/images/Wizkid-2.jpg" class="popup-img overlay-link" title="Jane Doe - CEO"><i
                                            class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Wizkid</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="image-box team-member shadow mb-20">
                                <div class="overlay-container overlay-visible">
                                    <img src="/static/images/IcePrince.png" alt="">
                                    <a href="/static/images/IcePrince.png" class="popup-img overlay-link"
                                       title="Jane Doe - CEO"><i class="icon-plus-1"></i></a>
                                    <div class="overlay-bottom">
                                        <div class="text">
                                            <h3 class="title">Ice Prince</h3>
                                            <div class="separator light"></div>
                                            <p class="small margin-clear"><em>Singer <br> Lorem ipsum dolor sit</em></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- main end -->

            </div>
        </div>
    </section>
    <!-- main-container end -->


{% endblock body %}
{% block footer %}
{% endblock footer %}