{% extends "public/layout.html" %}
{% block body %}
    <!-- banner start -->
    <!-- ================ -->
    <div class="banner clearfix">

        <!-- slideshow start -->
        <!-- ================ -->
        <div class="slideshow">

            <!-- slider revolution start -->
            <!-- ================ -->
            <div class="slider-banner-container">
                <div class="slider-banner-fullscreen">
                    <ul class="slides">
                        <!-- slide 1 start -->
                        <!-- ================ -->
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500"
                            data-saveperformance="on" >

                            <!-- main image -->
                            <img src="/static/images/banners/banner1.jpg" alt="slidebg1" data-bgposition="center top"
                                 data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="500"
                                 data-easing="easeOutQuad"
                                 data-start="0">
                            </div>

                        </li>
                        <!-- ================ -->
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500"
                            data-saveperformance="on">

                            <!-- main image -->
                            <img src="/static/images/banners/banner2.jpg" alt="slidebg1" data-bgposition="center top"
                                 data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="500"
                                 data-easing="easeOutQuad"
                                 data-start="0">
                            </div>

                        </li>
                        <!-- ================ -->
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500"
                            data-saveperformance="on">

                            <!-- main image -->
                            <img src="/static/images/banners/banner4.jpg" alt="slidebg1" data-bgposition="center top"
                                 data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="500"
                                 data-easing="easeOutQuad"
                                 data-start="0">
                            </div>

                        </li>
                        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500"
                            data-saveperformance="on">

                            <!-- main image -->
                            <img src="/static/images/music-studio-hd-mic.jpg" alt="slidebg1" data-bgposition="center top"
                                 data-bgrepeat="no-repeat" data-bgfit="cover">

                            <!-- Transparent Background -->
                            <div class="tp-caption dark-translucent-bg"
                                 data-x="center"
                                 data-y="bottom"
                                 data-speed="500"
                                 data-easing="easeOutQuad"
                                 data-start="0">
                            </div>

{#                            <!-- LAYER NR. 5 -->#}
{#                            <div class="tp-caption fade fadeout"#}
{#                                 data-x="center"#}
{#                                 data-y="bottom"#}
{#                                 data-voffset="100"#}
{#                                 data-speed="500"#}
{#                                 data-easing="easeOutQuad"#}
{#                                 data-start="2000"#}
{#                                 data-endspeed="200">#}
{#                                <a href="#page-start" class="btn btn-lg moving smooth-scroll"><i#}
{#                                        class="icon-down-open-big"></i><i class="icon-down-open-big"></i><i#}
{#                                        class="icon-down-open-big"></i></a>#}
{#                            </div>#}
                        </li>
                        <!-- slide 1 end -->

                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
            <!-- slider revolution end -->

        </div>
        <!-- slideshow end -->

    </div>
    <!-- banner end -->

    <div id="page-start"></div>

    <!-- section start -->
    <!-- ================ -->
    <section class="light-gray-bg lgrad pv-30 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Our <strong>Services</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">At Singa Empire we offer digital music production, distribution, promotion, design and business management services to artists as a record label.</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon large circle"><img class="img-circle" alt="beauty"
                                                             src="static/images/services/song_writing.png"></span>
                        <h3>Song Writting</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Whether you want to write songs to pitch to music publishers, TV shows and commercials, or record them yourself, Singa Empire is the right place to be. With great talents and devoted team, we will help you achieve your goals.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon large circle"><img class="img-circle" alt="beauty"
                                                             src="static/images/services/cook-up.png"></span>
                        <h3>Beats Cook-up</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">A beat is what gives music its rhythmic pattern. You don't need to be a musician to understand the basic elements of music, anyone who appreciates music is a lover of Singa Empire. Knowing the generally accepted elements can help understand the essential parts of what we do.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon large circle"><img class="img-circle" alt="beauty"
                                                             src="static/images/services/production.png"></span>
                        <h3>Production</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">As experienced producers in the industry, we know how to rearrange and mix sound to make great music. Once we've worked together to create your distinct sound, we help you get your music in front of labels and establish your image.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="ph-20 feature-box text-center object-non-visible"
                         data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon large circle"><img class="img-circle" alt="beauty"
                                                             src="static/images/services/branding.png"></span>
                        <h3>Branding</h3>
                        <div class="separator clearfix"></div>
                        <p class="text-muted">Nowadays, everything in our culture is visual. A fantastic EP can only get you so far; you need an image to go with your music. Your passion and love for what you do is what will connect you with your audience, so we want to support you and your vision.</p>
                    </div>
                </div>
                <div class="clearfix visible-md"></div>

            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section dark-bg clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="call-to-action text-center">
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <h1 class="title"><i class="fa fa-music pr-10"></i>Top Artists</h1>
                                <ul class="list-inline">
                                    <li><i class="icon-dot text-default"></i> <a href="{{ url_for('.artist_info') }}" class="link-light">Ceezy</a>
                                    </li>
                                    <li><i class="icon-dot text-default"></i> <a href="{{ url_for('.artist_info') }}" class="link-light">Leomi</a></li>
                                    <li><i class="icon-dot text-default"></i> <a href="{{ url_for('.artist_info') }}" class="link-light">Nonsomega</a></li>
                                    <li><i class="icon-dot text-default"></i> <a href="{{ url_for('.artist_info') }}" class="link-light">Deejaybee</a>
                                    </li>
                                    <li><i class="icon-dot text-default"></i> <a href="{{ url_for('.artist_info') }}" class="link-light">Teemax</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Upcoming <span class="text-default">Events</span></h3>
                    <div class="separator-2"></div>
                    <div class="block">
{#                        <div class="media margin-clear">#}
{#                            <div class="media-left">#}
{#                                <div class="overlay-container">#}
{#                                    <img class="media-object" src="static/images/medical-blog-thumb-1.jpg"#}
{#                                         alt="blog-thumb">#}
{#                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="media-body">#}
{#                                <h5 class="media-heading"><a href="blog-post.html">Lorem ipsum dolor sit amet</a></h5>#}
{#                                <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 23, 2015</p>#}
{#                                <p class="margin-clear small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                    Incidunt corrupti, cum exercitationem.</p>#}
{#                                <a href="#">Read More<i class="fa fa-long-arrow-right pl-5"></i></a>#}
{#                            </div>#}
{#                            <hr>#}
{#                        </div>#}
{#                        <div class="media margin-clear">#}
{#                            <div class="media-left">#}
{#                                <div class="overlay-container">#}
{#                                    <img class="media-object" src="static/images/medical-blog-thumb-2.jpg"#}
{#                                         alt="blog-thumb">#}
{#                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="media-body">#}
{#                                <h5 class="media-heading"><a href="blog-post.html">Perspiciatis laborum necess</a></h5>#}
{#                                <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 22, 2015</p>#}
{#                                <p class="margin-clear small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                    Incidunt corrupti, cum exercitationem.</p>#}
{#                                <a href="#">Read More<i class="fa fa-long-arrow-right pl-5"></i></a>#}
{#                            </div>#}
{#                            <hr>#}
{#                        </div>#}
{#                        <div class="media margin-clear">#}
{#                            <div class="media-left">#}
{#                                <div class="overlay-container">#}
{#                                    <img class="media-object" src="static/images/medical-blog-thumb-3.jpg"#}
{#                                         alt="blog-thumb">#}
{#                                    <a href="blog-post.html" class="overlay-link small"><i class="fa fa-link"></i></a>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="media-body">#}
{#                                <h5 class="media-heading"><a href="blog-post.html">Cum eligendi nisi rerum porro</a>#}
{#                                </h5>#}
{#                                <p class="small"><i class="fa fa-calendar pr-10"></i>Mar 21, 2015</p>#}
{#                                <p class="margin-clear small">Lorem ipsum dolor sit amet, consectetur adipisicing elit.#}
{#                                    Incidunt corrupti, cum exercitationem.</p>#}
{#                                <a href="#">Read More<i class="fa fa-long-arrow-right pl-5"></i></a>#}
{#                            </div>#}
{#                        </div>#}
                        {% for obj in events %}
                        <div class="media margin-clear">
                            <div class="media-left">
                                <div class="overlay-container">
                                    <img class="media-object" src="{{ obj.cover_image_url }}"
                                         alt="blog-thumb">
                                    <a href="#" class="overlay-link small"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading"><a href="blog-post.html">{{ obj.name }}</a>
                                </h5>
                                <p class="small"><i class="fa fa-calendar pr-10"></i>{{ obj.event_date.strftime("%B %d, %Y") }}</p>
                                <p class="margin-clear small">{{ obj.description|safe }}</p>
{#                                <a href="#">Read More<i class="fa fa-long-arrow-right pl-5"></i></a>#}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>Our <span class="text-default">Info</span></h3>
                    <div class="separator-2"></div>
                    <!-- accordion start -->
                    <!-- ================ -->
                    <div class="panel-group collapse-style-2" id="accordion-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2">
                                        Who We Are
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne-2" class="panel-collapse collapse in">
                                <div class="panel-body bordered p-15">
                                    Singa Empire is a standard record label company based in Lagos, Nigeria. Our aim of starting this business is to work in tandem with both established and upcoming music artist in the country to launch their musical career or take their musical career to the next level as the case maybe.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-2"
                                       class="collapsed">
                                        Our Vision
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree-2" class="panel-collapse collapse">
                                <div class="panel-body bordered p-15">
                                    Our vision is to help upcoming music artists to become stars and to help established music artists to become mega – super stars.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-2"
                                       class="collapsed">
                                        Our Mission
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo-2" class="panel-collapse collapse">
                                <div class="panel-body bordered p-15">
                                    At Singa Empire our mission is to build a business that will help artist achieve their highest dreams within the shortest time possible and to be listed amongst the top 10 record label companies in the Africa.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFour-2"
                                       class="collapsed">
                                        Our Goals
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour-2" class="panel-collapse collapse">
                                <div class="panel-body bordered p-15">
                                    Singa Empire offers varieties of services within the scope of the music industry in the Nigeria. Our intention is to make profits from the music industry and we will do all that is permitted by the law in Nigeria to achieve our aim and ambition.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseFive-2"
                                       class="collapsed">
                                        Contact
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive-2" class="panel-collapse collapse">
                                <div class="panel-body bordered p-15">
                                    <p>It would be great to hear from you! Just drop us a line and ask for anything with which you think we could be helpful. We are looking forward to hearing from you!</p>
                                    <p style="text-align: center;"><a href="{{ url_for('.contact_us') }}">Click Here <i class="fa fa-send"></i> </a> to Contact Us</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- accordion end -->
                </div>
                <div class="col-md-3">
                    <h3>Recent <span class="text-default">Posts</span></h3>
                    <div class="separator-2"></div>
                    <div class="owl-carousel content-slider-with-large-controls-autoplay dark-controls light-gray-bg buttons-hide">
                        <div class="image-box style-2">
                            <div class="overlay-container overlay-visible">
                                <img src="static/images/services/music.png" alt="Music">
                                <a href="javascript:void();" class="overlay-link"></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Music</p>
                                    </div>
                                </div>
                            </div>
                            <div class="body padding-horizontal-clear">
                                <p>Music is what we know, do, and love. There is always something new that can be discovered by mixing beats, tempos,
                                rhythms, and melodies. We are committed to discovering the creativity artists possess and bringing them to new heights in the industry.</p>
{#                                <a class="link-dark" href="page-services.html">Read More<i#}
{#                                        class="pl-5 fa fa-angle-double-right"></i></a>#}
                            </div>
                        </div>
                        <div class="image-box style-2">
                            <div class="overlay-container overlay-visible">
                                <img src="static/images/services/connect.png" alt="Connect">
                                <a href="javascript:void();" class="overlay-link"></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">Connect</p>
                                    </div>
                                </div>
                            </div>
                            <div class="body padding-horizontal-clear">
                                <p>We love meeting new artists and raising them to new heights in their music career. Reach out to see what we can do for you.</p>
{#                                <a class="link-dark" href="page-services.html">Read More<i#}
{#                                        class="pl-5 fa fa-angle-double-right"></i></a>#}
                            </div>
                        </div>
                        {% for obj in posts %}
                        <div class="image-box style-2">
                            <div class="overlay-container overlay-visible">
                                <img src="{{ obj.cover_image_url }}" alt="{{ obj.name }}">
                                <a href="javascript:void();" class="overlay-link"></a>
                                <div class="overlay-bottom hidden-xs">
                                    <div class="text">
                                        <p class="lead margin-clear text-left">{{ obj.name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="body padding-horizontal-clear">
                                <p>{{ obj.info|safe }}</p>
{#                                <a class="link-dark" href="page-services.html">Read More<i#}
{#                                        class="pl-5 fa fa-angle-double-right"></i></a>#}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="dark-translucent-bg parallax background-img-10 pv-40" style="background:url('/static/images/banners/banner1.jpg');background-position: 50% 50%;">
        <div class="owl-carousel content-slider">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial text-center">
                            <div class="testimonial-image">
                                <img src="static/images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe"
                                     class="img-circle">
                            </div>
                            <h3>Just Perfect!</h3>
                            <div class="separator"></div>
                            <div class="testimonial-body">
                                <blockquote>
                                    <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore
                                        laud antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum
                                        nunc, ac laoreet turpis augue a justo.</p>
                                </blockquote>
                                <div class="testimonial-info-1">- Jane Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="testimonial text-center">
                            <div class="testimonial-image">
                                <img src="static/images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe"
                                     class="img-circle">
                            </div>
                            <h3>Amazing!</h3>
                            <div class="separator"></div>
                            <div class="testimonial-body">
                                <blockquote>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate deleniti
                                        ratione in. Expedita nemo, quisquam, fuga adipisci omnis ad mollitia libero
                                        culpa nostrum est quia eos esse vel!</p>
                                </blockquote>
                                <div class="testimonial-info-1">- Jane Doe</div>
                                <div class="testimonial-info-2">By Company</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->
{% endblock body %}