{% extends "public/layout.html" %}
{% block body %}

    <!-- main-container start -->
    <!-- ================ -->

    <section class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-12">

                <!-- page-title start -->
                <!-- ================ -->
                {#							<h1 class="page-title">Blog Timeline</h1>#}
                {#							<div class="separator-2"></div>#}
                <!-- page-title end -->

                <!-- timeline grid start -->
                <!-- ================ -->
                <div class="timeline clearfix">

                    {% for obj in redis_news %}
                        <div class="timeline-date-label clearfix">{{ obj }}</div>
                        {% set ind = 0 %}
                        {% for post in redis_news[obj] %}
                            {% set ind = ind+1 %}

                            <!-- timeline grid item start -->
                            <div class="timeline-item {% if ind%2 ==0 %}pull-right{% endif %}">
                                <!-- blogpost start -->
                                <article class="blogpost shadow light-gray-bg bordered">
                                    <div id="carousel-blog-post" class="carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators bottom margin-clear">
                                            <li data-target="#carousel-blog-post" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-blog-post" data-slide-to="1"></li>
                                            <li data-target="#carousel-blog-post" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <div class="overlay-container">
                                                    <img src="images/blog-1.jpg" alt="">
                                                    <a class="overlay-link" href="blog-post.html"><i
                                                            class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="overlay-container">
                                                    <img src="images/blog-3.jpg" alt="">
                                                    <a class="overlay-link" href="blog-post.html"><i
                                                            class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="overlay-container">
                                                    <img src="images/blog-4.jpg" alt="">
                                                    <a class="overlay-link" href="blog-post.html"><i
                                                            class="fa fa-link"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <header>
                                        <h2><a href="blog-post.html">{{ post.title }}</a></h2>
                                        <div class="post-info">
												<span class="post-date">
													<i class="icon-calendar"></i>
													<span class="day">{{ timestamp_to_date(post.date_created).strftime("%d") }}</span>
													<span class="month">{{ timestamp_to_date(post.date_created).strftime("%B %Y") }}</span>
												</span>
                                            <span class="submitted"><i class="icon-user-1"></i> by <a
                                                    href="#">{{ post.user.full_name }}</a></span>
                                            {#												<span class="comments"><i class="icon-chat"></i> <a href="#">22 comments</a></span>#}
                                        </div>
                                    </header>
                                    <div class="blogpost-content">
                                        {#											<p>Mauris dolor sapien, malesuada at interdum ut, hendrerit eget lorem. Nunc interdum mi neque, et  sollicitudin purus fermentum ut. Suspendisse faucibus nibh odio, a vehicula eros pharetra in. Maecenas  ullamcorper commodo rutrum.</p>#}
                                        {{ post.info|safe }}
                                    </div>
                                    <footer class="clearfix">
                                        <div class="tags pull-left"><i class="icon-tags"></i> <a href="#">tag 1</a>, <a
                                                href="#">tag 2</a>, <a href="#">long tag 3</a></div>
                                        <div class="link pull-right"><i class="icon-link"></i><a href="#">Read More</a>
                                        </div>
                                    </footer>
                                </article>
                                <!-- blogpost end -->
                            </div>
                            <!-- timeline grid item end -->
                        {% endfor %}
                    {% endfor %}
                </div>
                <!-- timeline grid end -->

            </div>
            <!-- main end -->

        </div>
    </section>
    <!-- main-container end -->


{% endblock body %}