#logo {
}

#logo_img {
  width: 50%;
  max_width: 50%;
  margin-top: -5px;
  display: inline-block;
  float: left;
}
.fixed-header-on .header .logo img{
      max-height: 57px;
}
#logo_text {
  display: inline-block;
  text-decoration: none !important;
  color: #453B3E;
  margin-left: 5px;
  margin-top: -2px;
  font-size: 21px;
  font-family: 'Slabo 27px', serif;
  span {
    display: block;
    font-weight: 600;
    color: #453B3E;
    font-family: 'Slabo 27px', serif;
  }
}

#logo_text:hover {
  text-decoration: none !important;
}

header.transparent-header-on.animated {
  background: #fcfcfc !important;
  border-bottom: 2px solid #f1f1f1;
}

header.transparent-header-on.animated #logo_img {
  width: 45%;
  max_width: 45%;
  max-height: 100% !important;
  margin-top: -7px !important;
}

header.transparent-header-on.animated #logo_text {
  margin-top: -3px;
}

#logo-footer {
  width: 50%;
  max_width: 50%;
}