<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Music Record Company - Cook Beats, Make Music, Live Music">
        <meta name="author" content="kunsam002">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/fav.png">
    <title>Singa Empire Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/admin/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/admin/css/helper.css" rel="stylesheet">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
    <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar">
    <!-- Preloader - style you can find in spinners.css -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
			<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- Main wrapper  -->
    <div id="main-wrapper" style="background: #fcfcfc;">

        <div class="unix-login">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="login-content card">
                            <div class="login-form">
                                <h1 class="text-themecolor text-center mb-20"><img src="/static/images/singaempire_logo.png" alt="homepage" class="dark-logo"/ style="width:100px;"></h1>
                                <br>

                                <form action="{{ request.path }}" method="post">
                                {{ form.csrf_token }}
                                {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger text-themecolor">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                    <div class="form-group">
                                        <label>Username / Email Address</label>
                                        {{ form.username(class="form-control") }}
                                        {% if form.username.errors %}
                                                    {% for e in form.username.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>
                                        {{ form.password(class="form-control") }}
                                        {% if form.password.errors %}
                                                    {% for e in form.password.errors %}
                                                        <small class="form-control-feedback text-themecolor">{{ e }}</small>
                                                    {% endfor %}

                                                {% endif %}
                                    </div>
                                    <div class="checkbox">
                                        <label>
        										{{ form.remember() }} Remember Me
        									</label>


                                    </div>
                                    <button type="submit" class="btn btn-themecolor btn-flat m-b-30 m-t-30">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <script src="/static/admin/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/static/admin/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="/static/admin/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/static/admin/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="/static/admin/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/static/admin/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/admin/js/custom.min.js"></script>

</body>

</html>